.galeria-container {
    display: flex;
    flex-direction: column;

    gap: 10px;
}

/* ========================= */
/* HERO */
/* ========================= */

.gallery-hero{

    padding:10px 0;

    background:var(--green);

    text-align:center;

}

.gallery-hero h1{

    font-size:3rem;

    margin-bottom:10px;

}

.gallery-hero p{

    max-width:700px;

    margin:auto;

    line-height:1.8;

}


/* ========================= */
/* GRID */
/* ========================= */

.gallery-grid{

    display:grid;

    grid-template-columns:repeat(4,1fr);

    grid-auto-rows:220px;

    gap:20px;

}

/* ========================= */
/* CARD */
/* ========================= */

.gallery-item{

    overflow:hidden;

    border-radius:15px;

    box-shadow:0 8px 20px rgba(0,0,0,.10);

    cursor:pointer;

}

.gallery-item img{

    width:100%;
    height:100%;

    object-fit:cover;

    display:block;

    transition:transform .4s ease;

}

.gallery-item:hover img{

    transform:scale(1.08);

}

/* ========================= */
/* DESTAQUES */
/* ========================= */

.gallery-item-2{
    grid-column: span 2;
}

.gallery-item-5{
    grid-row: span 2;
}

.gallery-item-8{
    grid-column: span 2;
}

.gallery-item-11{
    grid-row: span 2;
}

.gallery-item-14{
    grid-column: span 2;
}

.gallery-item-16{
    grid-column: span 2;
}

@media(max-width:768px){

    .gallery-hero{

        padding:60px 0;

    }

    .gallery-hero h1{

        font-size:2.2rem;

    }

    .gallery-grid{

        grid-template-columns:1fr;

        grid-auto-rows:230px;

    }

    .gallery-item{

        grid-column:unset !important;

        grid-row:unset !important;

    }

}