.home-container {
    background: var(--beige);
    min-height: 100vh;
}

.container {
    display: flex;
    flex-direction: column;
}

.container h3 {
    font-size: 2.5rem;
    color: var(--blue);
}

.container p {
    max-width: 100%;

    font-size: 1.3rem;
    font-weight: 600;
    line-height: 1.7;

    color: #3f3f3f;
}

.home-about-me-actions {
    display: flex;
    justify-content: center;

    width: 100%;
}

.home-about-btn {
    padding: 14px 40px;

    display: flex;
    align-items: center;

    gap: 8px;

    text-decoration: none;

    border: none;
    border-radius: 8px;

    background: var(--yellow);
    color: white;

    font-size: 1rem;
    font-weight: 600;

    cursor: pointer;

    transition: .3s ease;
}

.home-about-me-actions button:hover {
    transform: scale(1.05);
}

.home-divider {
    width: 100%;
    border-bottom: 1px solid var(--brown);

    margin: 80px 0;
}

.home-partners{

    padding: 100px 0;

    background: var(--beige);

}

.home-partners h2{

    text-align: center;

    font-size: 2.5rem;

    color: var(--green);

    margin-bottom: 20px;

}

.home-partners p{

    max-width: 750px;

    margin: 0 auto 60px;

    text-align: center;

    line-height: 1.7;

    color: #555;

}

.partners-grid{

    display: grid;

    grid-template-columns: repeat(auto-fit, minmax(220px,1fr));

    gap: 25px;

}

.partner-card{

    height: 120px;

    background: white;

    border-radius: 14px;

    display: flex;

    justify-content: center;

    align-items: center;

    box-shadow: 0 8px 20px rgba(0,0,0,.08);

    transition: .3s ease;

}

.partner-card:hover{

    transform: translateY(-5px);

}

.partner-card h3{

    color: var(--green);

}